<h1><%= @lesson.name %></h1>

<h2>Lesson <%= @lesson.number%></h2>

<h3>Content</h3>
<%= @lesson.content %>

<ul>
  <li><p><a href="/lessons/<%=@lesson.id%>"
  data-confirm="Are you sure?"
  data-method="delete" rel="nofollow">
  Delete Lesson</a></p></li>
  <li><p><a href="/lessons/<%=@lesson.id%>/edit">Edit Lesson</a></p></li>
  <li><p><a href="/lessons/<%=@lesson.next.id%>">Next Lesson</a></p></li>
</ul>
